@model IEnumerable<test_asp_mvc.Models.KhachHang>

@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Title = "Danh sach";
    ViewBag.active = 100;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DanhSach</title>
</head>
<body>
    <div class="container">


        <a href="~/KhachHang/Themmoi">
            them khach hang
        </a>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TenKhachHang)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoDienThoai)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DiaChiNhanHang)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GioiTinh)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UrlHinhAnh)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenKhachHang)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoDienThoai)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiaChiNhanHang)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GioiTinh)
                    </td>
                    <td>
                        <img src="~/assets/img/@item.UrlHinhAnh" style="width:50%; height:100px;" />
                    </td>
                    <td>
                        <a href="~/KhachHang/CapNhat?idKhachHang=@item.ID">
                            Sua
                        </a>
                        |
                        <a onclick="XoaKhachHang(@item.ID)" href="#">
                            Xoa
                        </a>
                    </td>
                </tr>
            }

        </table>
    </div>
</body>
</html>
@section LienHe{
    <div class="col-lg-3 py-3">
        <h3>Nhat<span class="text-primary">1000</span></h3>
        <p>Le Minh Nhat 3</p>

        <p><a href="#">digigram@mail.com</a></p>
        <p><a href="#">+00 1122 3344 5566</a></p>
    </div>
}

@section ScriptXoa{
    <script>
        var XoaKhachHang = function (idKhachHang) {
            if (confirm("Co muon xoa khach hang khong?") == true) {
                location.href = 'Xoa?idKhachHang=' + idKhachHang;
            }
        }
    </script>
    }