@model List<test_asp_mvc.Models.MayTinh>
@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Title = "About";
    ViewBag.active = 2;
}
<main>
    <div class="page-section">
        <div class="container">
            <h3>
                Table cach 7
            </h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Ma May
                        </th>
                        <th>
                            Dong May
                        </th>
                        <th>
                            Gia ban
                        </th>
                        <th>
                            NSX
                        </th>
                        <th>
                            HSX
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @*// dùng foreach để đẩy dữ liệu ra*@
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.MaMay
                            </td>
                            <td>
                                @item.DongMay
                            </td>
                            <td>
                                @string.Format("{0:#,0}", item.GiaBan)
                            </td>
                            <td>
                                @item.NgaySanXuat
                            </td>
                            <td>
                                @item.HangSanXuat
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div> <!-- .container -->
    </div> <!-- .page-section -->


</main>

@section LienHe{
    <div class="col-lg-3 py-3">
        <h3>Nhat<span class="text-primary">2</span></h3>
        <p>Le Minh Nhat 2</p>

        <p><a href="#">digigram@mail.com</a></p>
        <p><a href="#">+00 1122 3344 5566</a></p>
    </div>
}